/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --color-brand: #64c048;
  --color-light: #f5f1f4;
  --color-light-accent: #94a69b;
  --color-dark: #3c3a38;
  --color-dark-accent: #77735e;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('../assets/fonts/lemon_milk/LEMONMILK-Regular.otf');
}

html {
  font-size: 18px;
}

body {
  font-family: 'Roboto';

  background-color: var(--color-light);
  color: var(--color-dark);

}

section {
  padding: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.8em;
}


a {
  text-decoration: none;
  color: inherit;
}

/* body * {
  border: 1px solid red;
} */

header {
  background-color: #0a0a0a;
  color: var(--color-brand);
}

header h3 {
  font-family: 'Lemon Milk';
}

header h3 span {
  font-size: .5em;
  position: relative;
  left: 40px;
  bottom: 5px;
}

.header-call {
  display: flex;
  align-items: center;
}

.hero {
  /* background-color: var(--color-dark); */


  /* AZTEC SNAKE FREE USE */
  background-image: url('../assets/pictures/max-letek-vYFcHzLYpmU-unsplash.jpg');
  background-size: cover;
  background-position: center;


  /* background-image: url('../assets/pictures/warrior.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */



  color: var(--color-light);

  height: 100vh;
}

h1 {
  font-family: 'Lemon Milk';
  font-size: 2em;
}

/******************************************
/* LAYOUT
/*******************************************/

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 9999;


  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero {

  padding: 10%;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero > div {
  font-size: 1.2em;
}

.hero p {
  margin-bottom: 10%;
}

.call-now {
  font-size: 1.3em;
  text-align: right;
  margin-bottom: 20px;
}



/* REVIEWS */

.review {
  margin-top: 40px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.review p {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.phone-svg {
  height: 25px;
}