/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --color-brand: #64c048;
  --color-light: #f5f1f4;
  --color-light-accent: #cdd8d2;
  --color-dark: #3c3a38;
  --color-dark-accent: #77735e;
}

/****************************/
/*   FONTS AND FONT SIZES   */
/****************************/

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../assets/fonts/lemon_milk/LEMONMILK-Regular.otf");
}

html {
  font-size: 16px;
  background-color: var(--color-dark);
}

body {
  font-family: "Roboto";

  background-color: var(--color-light);
  color: var(--color-dark);
}

p {
  line-height: 140%;
}

hr {
  width: 20%;
  height: 1px;
  background-color: var(--color-dark-accent);
}

h1,
h2,
header h3,
.call-now {
  font-family: "Lemon Milk";
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 strong {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

header h3 span {
  font-size: 0.5em;
}

.call-now {
  font-size: 1.5em;
}

.hero > p {
  font-size: 1.2em;
  line-height: 140%;
}

.call-now > div {
  font-size: 1.3em;
}

.hero * {
  text-align: center;
}

/** COLORS **/

h1,
header {
  color: var(--color-brand);
}

.hero > p {
  color: var(--color-light-accent);
}

.call-now > div {
  color: #ff2929;
}

header {
  background-color: #0a0a0a;
}

.hero {
  color: var(--color-light);

  height: 100vh;
}

.about,
.reviews {
  background-color: var(--color-light-accent);
}

footer {
  background-color: var(--color-dark);
}

/* Hero background image and opacity styling */

.hero-bg {
  background-image: url("../assets/pictures/warrioraltreddish.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .hero-bg::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #200808
  background-color: rgba(32, 8, 8, 0.5);

  z-index: 0;
} */
.hero > * {
  z-index: 1;
}

.about img {
  border-radius: 10px;
  height: 250px;
  width: 250px;
  background-color: var(--color-dark-accent);

  margin: 20px;
}

/** OTHER **/

a {
  text-decoration: none;
  color: inherit;
}

/******************************************
/* LAYOUT
/*******************************************/

h2 {
  margin: 20px 0 20px 0;
}

section {
  padding: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 9999;

  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-call {
  display: flex;
  align-items: center;
}

header h3 span {
  position: relative;
  left: 40px;
  bottom: 5px;
}

.hero {
  padding: 10%;
  padding-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: center;
}

.hero > p,
.call-now > div {
  padding: 10px;
}

.call-now {
  margin-top: 10%;
  margin-bottom: 40px;
}

/* Services */

h4 {
  font-size: 1.2em;
}

.services > div {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-light-accent);

  /* border: 2px solid var(--color-dark-accent); */
  border-radius: 10px;
  min-height: 250px;
  width: 250px;

  margin: 20px;
  padding: 10px;
}

.service h4 {
  padding: 10px;
}

.service p {
  text-align: center;
}

.service-svg {
  width: 80px;
  height: 80px;
}

/* REVIEWS */

.review {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border-radius: 10px;
  background-color: var(--color-dark-accent); */
}

.review p {
  text-align: center;
  line-height: 150%;
  /* font-size: 1.1em; */
}

.review h4 {
  margin: 20px;
}

footer {
  /* min-height: 100px; */

  font-size: 0.9em;
  color: var(--color-dark-accent);
}

footer img {
  width: 20px;
  height: 20px;
  margin: 3px;
}

.footer-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

.footer-left {
  justify-self: center;
}

/* .footer-left {
  grid-column-start: 2;
}

.footer-right {
  grid-column-start: 3;
} */

/* footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left{
  align-self: center;
  padding: 10px;
}

footer .separator {
  background-color: var(--color-dark-accent);
  height: 50px;
  width: 1px;
}

.footer-right {
  padding: 10px;
}
*/
.footer-right > div {
  display: flex;
  align-items: center;
  margin: 5px;
}

.about p {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.phone-svg {
  height: 25px;
  width: 25px;
}

.rating {
  display: flex;

  /* align-items: center;
  justify-content: center; */

  margin-bottom: 10px;
}

.rating > img {
  height: 50px;
  width: 50px;
}

p {
  max-width: 600px;
}

@media screen and (min-width: 800px) {
  section {
    padding: 80px;
  }

  h2 {
    font-size: 2em;
  }

  .hero-bg {
    background-image: none;
    background-color: #12080c;
  }

  .hero-outer {
    display: flex;
    flex-direction: row;
    font-size: 20px;
  }

  .hero {
    width: 50%;
    height: 600px;

    justify-content: center;
    padding: 0;
    padding-top: 100px;
  }

  .hero > * {
    max-width: 300px;
  }

  .hero-image {
    height: 600px;
  }

  .logo {
    padding-left: 100px;
  }

  .header-call {
    padding-right: 100px;
  }
}

@media screen and (max-width: 800px) {
  .hero-image {
    display: none;
  }
}
